# Git Ignore for CS 360 Labs
# Compiled Executables
lab1/download
lab2/server

# Minimized Files
*.min.js
*.min.css

# IDE/Editor Files
.idea/
nbproject/
CMakeLists.txt

# General Files
*.log
*.tar.gz
*.zip
.DS_Store
Thumbs.db

